@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

h1 {
    font-family: "Cinzel", serif;
    position: relative; /* Make sure text stays on top of video */
    z-index: 1;
    color: white; /* Ensure text is visible on video */
    
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 64px;
}

.first-block {
    height: 67vh;
    overflow: hidden;
    position: relative;
}

.background-video {
    position: absolute;
    right: 0;
    top: 60%;         
    transform: translateY(-50%);  
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0; /* Place video behind other content */
    object-fit: cover; /* Make video cover the entire container */
    filter: brightness(0.5);
}

.first-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 80%,
        rgba(0, 0, 0, 1) 100%
    );
    z-index: 1;
}

.play {
    position: relative;
    z-index: 2; /* Keep content above video */
    margin-top: 9%;
    margin-left: 10%;
}

.play p {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: rgba(128, 128, 128);
}

hr {
    margin: 20px 0;
    width: 5%;
    border: 2px solid rgb(240, 92, 75);
    border-radius: 1.5px;
}

.play-free2 {
    display: flex;
    align-items: center;
    border: 3.5px solid rgba(162, 161, 161, 0.5);
    border-radius: 5px;
    padding: 12px;
    gap: 12px;
    transition: transform 0.2s ease;
    box-shadow: 2px 2px 2px black;
    width: fit-content;
    cursor: pointer;
}

.play-free2:hover {
    transform: translateY(-3px);
}

.play-free2-text h2 {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.play-free2-text p {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 16px;
}



.play-free2-text p, h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.irina {
    width: 30px;
    height: 30px;
}

.second-block {
    padding: 0 10%;
    display: flex;
    justify-content: space-evenly;
}