@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

h1 {
    font-family: "Cinzel", serif;
    position: relative; /* Make sure text stays on top of video */
    z-index: 1;
    color: white; /* Ensure text is visible on video */
    
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 64px;
}

.first-block {
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.background-video {
    position: absolute;
    right: 0;
    top: 60%;         
    transform: translateY(-50%);  
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0; /* Place video behind other content */
    object-fit: cover; /* Make video cover the entire container */
    filter: brightness(0.5);
}

.first-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 80%,
        rgba(0, 0, 0, 1) 100%
    );
    z-index: 1;
}

.play {
    position: relative;
    z-index: 2; /* Keep content above video */
    margin-top: 9%;
    margin-left: 10%;
}

.play p {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: rgba(128, 128, 128);
}

hr {
    margin: 20px 0;
    width: 5%;
    border: 2px solid rgb(240, 92, 75);
    border-radius: 1.5px;
}